@font-face {
  font-family: 'SaxMono';
  src: url('../fonts/SaxMono.eot');
  src: url('../fonts/SaxMono.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SaxMono.woff') format('woff'),
    url('../fonts/SaxMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
