$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/normalize-scss/_normalize.scss";
// endbower

@import "grid_settings";

@import "colors";
@import "fonts";
@import "hero";
@import "entry";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Space out content a bit */
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'SaxMono', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1040px;

  >div {
    @include container;
    margin-left: span(1);
    margin-right: span(1);
    font-size: 1em;
  }
}

section.content {
  @include container;
  border-top: 5px solid #444;
  padding: 0;
  position: relative;
  margin: 60px 0 150px 0;

  >.title {
    width: 100%;
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 2em;
    text-align: center;

    >h2 {
      color: #444;
      background-color: #fff;
      padding: 10px 30px;
      display: inline-block;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 500px;
  }
}
